html, body {
  background-color: #faf4e6;
  margin: 0;
  font-family: Arial, sans-serif;
  height: 100%;
}

button {
  padding: 1rem 2rem;
  font-size: 1.2rem;
  border-radius: 8px;
  cursor: pointer;
}
button:hover {
  background-color: #ddd;
}